.DS_Store
Thumbs.db
*/.sass-cache/*
*.scssc
*.sassc
*.kpf
*.swp
_notes
~*
.project
.settings
.buildpath
.idea
/resources/etc/nginx/sites-enabled/*
!/resources/etc/nginx/sites-enabled/sso.dev.conf
!/resources/etc/nginx/sites-enabled/vanilla.dev.conf
!/resources/etc/nginx/sites-enabled/vanilla.test.conf
/logs/*
!/logs/httpd/.gitkeep
!/logs/mysql/.gitkeep
!/logs/nginx/.gitkeep
!/logs/php-fpm/.gitkeep
!/logs/sphinx/.gitkeep
