.DS_Store
Thumbs.db
*/.sass-cache/*
*.scssc
*.sassc
*.kpf
*.swp
_notes
~*
.project
.settings
.buildpath
.idea
/custom.*.yml
/custom.*.sh
/*-xtra/
/resources/etc/mysql/conf.d/*
!/resources/etc/mysql/conf.d/.gitkeep
/resources/etc/nginx/conf.d/*
!/resources/etc/nginx/conf.d/.gitkeep
/resources/usr/local/apache2/conf.d/*
!/resources/usr/local/apache2/conf.d/vanilla.localhost.ssl.conf
/resources/usr/local/etc/php/conf.d/*
!/resources/usr/local/etc/php/conf.d/.gitkeep
/resources/usr/local/etc/php/fpm/pool.d/
!/resources/usr/local/etc/php/fpm/pool.d/www.conf
