.DS_Store
Thumbs.db
*/.sass-cache/*
*.scssc
*.sassc
*.kpf
*.swp
_notes
~*
.project
.settings
.buildpath
.idea
custom.*.yml
/*-xtra/
/resources/etc/mysql/conf.d/*
!/resources/etc/mysql/conf.d/.gitkeep
/resources/etc/nginx/conf.d/*
!/resources/etc/nginx/conf.d/.gitkeep
/resources/etc/nginx/sites-available/*
!/resources/etc/nginx/sites-available/sso.vanilla.localhost.conf
!/resources/etc/nginx/sites-available/dev.vanilla.localhost.conf
!/resources/etc/nginx/sites-available/vanilla.test.conf
!/resources/etc/nginx/sites-available/embed.vanilla.localhost.conf
!/resources/etc/nginx/sites-available/advanced-embed.vanilla.localhost.conf
/resources/etc/nginx/sites-enabled/*
/resources/usr/local/apache2/conf.d/*
!/resources/usr/local/apache2/conf.d/vanilla.localhost.ssl.conf
/resources/usr/local/etc/php/conf.d/*
!/resources/usr/local/etc/php/conf.d/.gitkeep
/resources/usr/local/etc/sphinx/conf.d/*
!/resources/usr/local/etc/sphinx/conf.d/.gitkeep
/resources/usr/local/etc/sphinx/configs-available/*
!resources/usr/local/etc/sphinx/configs-available/advanced.sphinx.conf
!resources/usr/local/etc/sphinx/configs-available/standard.sphinx.conf
!resources/usr/local/etc/sphinx/configs-available/groups-standard.sphinx.conf
/logs/httpd/
!/logs/httpd/.gitkeep
/logs/perconadb/
/logs/mariadb/
/logs/nginx/
!/logs/nginx/.gitkeep
/logs/php-fpm/
!/logs/php-fpm/.gitkeep
/logs/sphinx/
!/logs/sphinx/.gitkeep
